.footer {
  @include index(relative, 3, #141414);
  width: max-content;
  margin: auto;
  padding-top: 66px;
  padding-bottom: 16px;
  .footer-block {
    display: flex;
    .footer-list {
      display: flex;
      margin-left: 68px;
      margin-right: 638px;
      .footer__list-item:not(:last-child) {
        margin-right: 36px;
      }
      .footer__list-link {
        @include text(11px, 309%, #fff);
        letter-spacing: 0.25em;
        text-transform: uppercase;
      }
    }
    .footer-powered, .webflow {
      @include text(11px, 309%, rgba(255, 255, 255, 0.75));
      letter-spacing: 0.25em;
      text-transform: uppercase;
      .webflow {
        color: #fff;
      }
    }
  }
}
