.footer {
  width: max-content;
  margin: auto;
  padding-top: 66px;
  padding-bottom: 16px;
  
  background-color: #9a9999;
  .form {
    position: relative;
    width: 1440px;
    height: 239px;
    background: #141414;
  }
}
