.footer {
  padding-top: 66px;
  padding-bottom: 16px;
  background-color: #9a9999;
  position: relative;
  .nav-box {
    position: absolute;
    display: none;
    top: 0px;
    width: 1304px;
    height: 272px;
    padding-top: 68px;
    padding-left: 68px;
    margin-top: 68px;
    background-color: #3d3d3d;
    .nav-box__img {
      width: 131px;
      height: 34px;
      margin-bottom: -32px;
    }
    .nav-list {
      margin-left: 677px;
      padding-left: 0;
    }
  }
  .form {
    width: 1440px;
    height: 239px;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
