.footer-form {
  @include index(relative, 2, $main-color);
  top: -66px;
  width: 1168px;
  height: 204px;
  padding: 68px 68px;
  margin: auto;
  .footer-input {
    @include large-text(11px, 309%, #3d3d3d, 700, uppercase);
    width: 855px;
    letter-spacing: 0.25em;
    border: none;
    padding-top: 17px;
    padding-bottom:  17px;
    padding-left: 25px;
    &:focus {
      outline: none;
    }
  }
}
