.partners,
.header {
  .nav-list {
    display: flex;
    padding-left: 205px;
    .nav__list-item {
      margin-right: 37px;
    }
    .nav__item-link {
      font-size: 11px;
      line-height: 309%;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      color: #fff;
    }
  }
}
