.nav-list {
  display: flex;
  padding-left: 205px;
  .nav__list-item {
    margin-right: 37px;
  }
  .nav__item-link {     
    @extend %text;
  }
}
.footer-nav {
  @include index(absolute, 1, #3d3d3d);
  bottom: 310px;
  display: flex;
  align-items: baseline;
  padding-top: 68px;
  padding-left: 68px;
  margin-top: 68px;
  margin-left: 34px;
  .nav-box__img {
    width: 131px;
    height: 34px;
  }
  .partners-nav-list {
    display: flex;
    margin-left: 481px;

    .partners__nav-item {
      margin-right: 30px;
    }

    .partners__nav-link {
      @extend %text;
    }
  }
}
