.hero__list-btn {
  @include btn(216px, 0.25em, 12px, $main-color);
  height: 68px;
  text-align: center;
}
.second-btn {
  background: $black-color;
  margin-left: 17px;
}
.services-btn {
  @include btn(392px, 0.25em, 12px, $main-color);
  padding: 25px 118px;
  line-height: 149%;
  margin-left: 460px;
  margin-top: 122px;
}
.footer-btn {
  @include btn(155px, 0.25em, 11px, #141414);
  height: 68px;
  font-weight: 700;
  margin-left: 17px;
}
