.hero {
  background: $black-color;
  width: 1400px;
  margin: auto;
  position: relative;
  .hero-bg-img {
    width: 978px;
    height: 591px;
  }
  .hero-block {
    @include index(absolute, 1, #fff);
    @include position(60px, 715px, 67px 68px, 455px, 584px);
    .hero__block-title {
      @include large-text(11px, 151%, $main-color, 400, uppercase);
      letter-spacing: 0.25em;
    }
    .hero__block-greeting {
      @include text(67px, 100%, #141414);
      font-family: $second-family;
      font-weight: 400;
      width: 417px;
    }
    .hero__block-description {
      @include text(17px, 150%, #141414);
      margin-top: 32px;
    }
    .hero-list {
      display: flex;
      margin-top: 15px;
    }
  }
  .social-media {
    width: 815px;
    .social-media-list {
      display: flex;
      background-color: #fff;
      .hero__sm-item {
        margin-right: 37px;
        .hero__sm-link {
          @include large-text(12px, 567%, #000, 400, uppercase);
          letter-spacing: 0.25em;
        }
        &:first-child {
          margin-left: 3px;
        }
      }
    }
  }
  .block {
    position: absolute;
    bottom: 0;
    left: 878px;
    width: 489px;
    height: 329px;
    background-color: $main-color;
  }
}

.our-job {
  padding: 136px 64px 67px;
  .our-job-box {
    display: flex;
    .our-job-subtitle {
      @include text(11px, 151%, $main-color);
      font-weight: 400;
      letter-spacing: 0.25em;
      text-transform: uppercase;
    }
    .our-job-title {
      font-family: $second-family;
      @include large-text(53px, 99%, #141414, 400, capitalize);
      width: 655px;
    }
    .our-job-info {
      @include text(17px, 150%, #141414);
      width: 683px;
    }
    .our-job-continue {
      @include text(17px, 150%, #141414);
      width: 684px;
      margin-top: 16px;
    }

    .our-job-list {
      margin-left: 34px;
      .our-job__list-item {
        margin-bottom: 43px;
        padding: 37px 34px 42px 67px;
        .news-data {
          margin-bottom: 11px;
          padding-top: 36px;
        }
        .news {
          width: 323px;
          font-size: 26px;
          margin-top: 10px;
        }
      }
    }
  }
}

.statistic {
  padding-bottom: 136px;
  .statistic-list {
    display: flex;
    .statistic__list-item {
      position: relative;
      margin-right: 168px;
      .statistic-info {
        @include text(59px, 99%, #141414);
        font-family: $second-family;
        font-weight: 700;
        .statistic-subtitle {
          @include large-text(12px, 149%, $main-color, 400, uppercase);
          display: flex;
          justify-content: center;
          letter-spacing: 0.25em;
        }
      }
      &:not(:last-child)::after {
        @extend %after;
        @include after(180px, $main-color);
        top: 33px;
      }
    }
  }
}

.projects {
  padding-bottom: 124px;
  .projects-list {
    display: flex;
    position: relative;
    &::after {
      @extend %after;
      @include after(630px, $black-color);
      bottom: -62px;
    }
    .projects__list-item {
      position: relative;
      margin-right: 34px;
      .projects__list-box {
        @include display(103px, 34px);
        position: absolute;
        top: 0;
        .projects__list-data {
          font-size: 11px;
          line-height: 148%;
          letter-spacing: 0.25em;
          text-transform: uppercase;
          color: #fff;
        }
      }
      .projects__list-img {
        display: inline-block;
        width: 412px;
        height: 275px;
      }
      .projects__list-title {
        @include large-text(11px, 309%, #fff, 400, uppercase);
        position: absolute;
        bottom: 0;
        right: 0;
        width: 206px;
        height: 102px;
        text-align: center;
        letter-spacing: 0.25em;
        background-color: $main-color
      }
      .projects__list-name {
        @include display(378px, 68px);
        @include large-text(26px, 100%, #fff, 400, capitalize);
        position: absolute;
        bottom: 0;
        font-family: $second-family;
      }
    }
  }
}

.services {
  padding-bottom: 107px; 
  .services-subtitle {
    font-size: 11px;
    line-height: 151%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    text-align: center;
    color: $main-color;
  }
  .services-title {
    font-family: $second-family;
    width: 801px;
    font-size: 53px;
    line-height: 100%;
    text-transform: capitalize;
    text-align: center;
    color: #141414;
    margin: auto;
  }
  .services-list {
    display: flex;
    flex-wrap: wrap;
    .services__list-item {
      flex-basis: calc((100% - 3 * 66px) / 3);
      padding: 37px 34px 31px 65px;
      display: flex;
      flex-wrap: wrap;
      .services__list-description {
        margin-left: 17px;
      }
      .services__list-number {
        @include text(11px, 151%, $main-color);
        letter-spacing: 0.25em;
        text-transform: uppercase;
      }
      .services__list-title {
        @include large-text(26px, 100%, #141414, 400, capitalize);
        font-family: $second-family;
        margin-top: 11px;
      }
      .services__list-info {
        @include text(17px, 150%, #141414);
        width: 292px;
        margin-top: 17px;
      }
    }
  }
}

.partners {
  width: max-content;
  margin: auto;
  background: #9a9999;
  padding-top: 68px;
  padding-bottom: 137px;
  .partners-list {
    display: flex;
    padding-left: 136px;
    margin-bottom: 70px;
    .partners__list-item {
      margin-right: 114px;
      position: relative;
      &:not(:last-child)::after {
        @extend %after;
        @include after(156px, $main-color);
        top: 40%;
      }
    }
  }
}
