.hero {
  background: $black-color;
  width: 1400px;
  margin: auto;
  position: relative;
  .hero-bg-img {
    width: 978px;
    height: 591px;
  }
  .hero-block {
    background-color: #fff;
    width: 584px;
    height: 455px;
    padding: 67px 68px;
    position: absolute;
    top: 60px;
    left: 715px;
    z-index: 1;
    .hero__block-title {
      font-weight: 400;
      font-size: 11px;
      line-height: 151%;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      color: $main-color;
    }
    .hero__block-greeting {
      font-family: $second-family;
      font-weight: 400;
      font-size: 67px;
      line-height: 100%;
      color: #141414;
      width: 417px;
    }
    .hero__block-description {
      font-size: 17px;
      line-height: 150%;
      color: #141414;
      margin-top: 32px;
    }
    .hero-list {
      display: flex;
      margin-top: 15px;
    }
  }
  .social-media {
    width: 815px;
    .social-media-list {
      display: flex;
      background-color: #fff;
      // padding: 28px 3px;
      .hero__sm-item {
        margin-right: 37px;
        .hero__sm-link {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 12px;
          line-height: 567%;
          letter-spacing: 0.25em;
          text-transform: uppercase;
          color: #000;
        }
        &:first-child {
          margin-left: 3px;
        }
      }
    }
  }
  .block {
    position: absolute;
    bottom: 0;
    left: 878px;
    width: 489px;
    height: 329px;
    background-color: $main-color;
  }
}

.our-job {
  padding: 136px 64px 67px;
  .our-job-box {
    display: flex;
    .our-job-subtitle {
      font-weight: 400;
      font-size: 11px;
      line-height: 151%;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      color: $main-color;
    }
    .our-job-title {
      font-family: $second-family;
      font-weight: 400;
      font-size: 53px;
      line-height: 100%;
      text-transform: capitalize;
      color: #141414;
      width: 655px;
    }
    .our-job-info {
      width: 683px;
      font-size: 17px;
      line-height: 150%;
      color: #141414;
    }
    .our-job-continue {
      font-size: 17px;
      line-height: 150%;
      color: #141414;
      width: 684px;
      margin-top: 16px;
    }

    .our-job-list {
      margin-left: 34px;
      .our-job__list-item {
        margin-bottom: 43px;
        .news-data {
          margin-bottom: 11px;
          padding-top: 36px;
        }
        .news {
          width: 323px;
          font-size: 26px;
          margin-top: 10px;
        }
      }
    }
  }
}

.statistic {
  padding-bottom: 136px;
  .statistic-list {
    display: flex;
    .statistic__list-item {
      margin-right: 168px;
      .statistic-info {
        font-family: $second-family;
        font-weight: 700;
        font-size: 59px;
        line-height: 99%;
        color: #141414;
        .statistic-subtitle {
          display: flex;
          justify-content: center;
          font-weight: 400;
          font-size: 12px;
          line-height: 149%;
          letter-spacing: 0.25em;
          text-transform: uppercase;
          color: $main-color;
        }
      }
    }
  }
}

.projects {
  padding-bottom: 62px;
  .projects-list {
    display: flex;
    .projects__list-item {
      position: relative;
      margin-right: 34px;
      .projects__list-box {
        position: absolute;
        top: 0;
        width: 103px;
        height: 34px;
        background: $black-color;
        display: flex;
        justify-content: center;
        align-items: center;
        .projects__list-data {
          font-size: 11px;
          line-height: 148%;
          letter-spacing: 0.25em;
          text-transform: uppercase;
          color: #fff;
        }
      }
      .projects__list-img {
        display: inline-block;
        width: 412px;
        height: 275px;
      }
      .projects__list-title {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 206px;
        height: 102px;
        text-align: center;
        background-color: $main-color;
        color: #fff;
        font-weight: 400;
        font-size: 11px;
        line-height: 309%;
        letter-spacing: 0.25em;
        text-transform: uppercase;
      }
      .projects__list-name {
        position: absolute;
        font-family: $second-family;
        font-weight: 400;
        font-size: 26px;
        line-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 378px;
        height: 68px;
        background: $black-color;
        color: #fff;
        text-transform: capitalize;
        bottom: 0;
      }
    }
  }
}

.services {
  padding-bottom: 107px;
  .services-subtitle {
    font-size: 11px;
    line-height: 151%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    text-align: center;
    color: $main-color;
  }
  .services-title {
    font-family: $second-family;
    width: 801px;
    font-size: 53px;
    line-height: 100%;
    text-transform: capitalize;
    text-align: center;
    color: #141414;
    margin: auto;
  }
  .services-list {
    display: flex;
    flex-wrap: wrap;
    .services__list-item {
      flex-basis: calc(100% / 3 - 66px);
      padding: 37px 34px 31px 65px;
      .services__list-number {
        font-size: 11px;
        line-height: 151%;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: $main-color;
      }
      .services__list-title {
        font-family: $second-family;
        font-weight: 400;
        font-size: 26px;
        line-height: 100%;
        text-transform: capitalize;
        color: #141414;
        margin-top: 11px;
      }
      .services__list-info {
        font-size: 17px;
        line-height: 150%;
        color: #141414;
        width: 292px;
        margin-top: 17px;
      }
    }
  }
  
}

.partners {
  background: #9A9999;
  padding: 68px 68px;
  .partners-list {
    display: flex;
    .partners__list-item {
      margin-right: 114px;
    }
  }
  .nav-list {
    background-color: #3d3d3d;
    margin-left: 677px;
  padding-left: 0;
  }
}